:root {
	--blueDark: #191546;
	--violet1: #5465ff;
	--white: #f9f9f9;
	--violet2: #788bff;
	--violet3: #9bb1ff;
	--violet4: #bfd7ff;
	--lightgreen: #e2fdff;
}
*,
::before,
::after {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
html {
	font-size: 62.5%;
	font-family: "Poppins", sans-serif;
	scroll-behavior: smooth;
}
img {
	max-width: 100%;
	height: auto;
}
a {
	text-decoration: none;
}
::-webkit-scrollbar {
	width: 1.6rem;
	background: var(--white);
}
::-webkit-scrollbar-thumb {
	background: var(--violet1);
	border: 0.2rem solid var(--violet3);
	border-radius: 100vw;
}
.container {
	max-width: 130rem;
	margin: 0 auto;
	padding: 0rem 2rem;
}

/* Header Styles */
.main-content {
	width: 100%;
	margin-bottom: 3rem;
}
.header {
	width: 100%;
	height: 100px;
}
.navigation__list {
	display: flex;
	justify-content: flex-end;
	align-items: center;
	flex-wrap: wrap;
	gap: 2rem;
	height: 100px;
	padding-inline-start: 0;
	margin: 0;
}
.navigation__list__link {
	list-style: none;
}
.navigation__list__link a {
	color: var(--blueDark);
	font-size: 1.8rem;
	transition: all 0.3s;
	position: relative;
}
a::after {
	content: "";
	position: absolute;
	background-color: var(--violet1);
	height: 3px;
	width: 0%;
	left: 0;
	bottom: -10px;
	transition: all 0.3s;
}
.navigation__list__link a:hover:after {
	width: 100%;
	transition: all 0.3s;
}
.right-column {
	text-align: end;
}
.right-column img {
	max-width: 90%;
	height: auto;
}
.left-column__title {
	font-size: clamp(4rem, 5vw, 6rem);
	text-transform: uppercase;
	margin-bottom: 3rem;
}
.left-column__title span {
	color: var(--violet1);
}
.left-column__subtitle {
	font-size: clamp(2.5rem, 3vw, 3rem);
	font-weight: 400;
	margin-bottom: 3rem;
}
.left-column__text {
	font-size: clamp(1.8rem, 1.8vw, 2rem);
	font-weight: 400;
	line-height: 2.3rem;
	margin: 0;
	margin-bottom: 3rem;
}
.left-column__cta,
.form-grid__btn {
	display: block;
	width: 200px;
	border-radius: 200px;
	border: none;
	background-color: var(--violet1);
	border: 1px solid var(--violet1);
	color: var(--white);
	font-size: 1.5rem;
	font-weight: 700;
	cursor: pointer;
	transition: all 0.4s;
	text-align: center;
	padding: 1.2rem 0;
}
.left-column__cta:hover,
.form-grid__btn:hover {
	background-color: #fff;
	color: var(--violet1);
	border: 1px solid var(--violet1);
	transition: all 0.4s;
}
/* Header Styles */

/* Services Styles*/
.services {
	background-color: var(--violet1);
	padding-bottom: 4rem;
	width: 100%;
}
.services__title .title {
	display: block;
	text-align: center;
	font-size: 3.5rem;
	font-weight: 700;
	padding: 4rem 0 5rem 0;
	color: var(--white);
}
.grid-services {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	gap: 4rem;
}
.grid-services-cards {
	background-color: var(--violet2);
	border-radius: 12px;
	height: 200px;
	position: relative;
}
.grid-services__card__image img {
	width: 80px;
	height: 80px;
	position: absolute;
	top: -3rem;
	left: 0;
	right: 0;
	margin: 0 auto;
	border-radius: 50%;
	background-color: var(--white);
	padding: 1rem;
}
.grid-services__card__text {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100%;
	line-height: 2.3rem;
}
.grid-services__card__text p {
	text-align: center;
	font-size: 1.5rem;
}
/* Services Styles*/

/* Reviews Styles*/
.reviews {
	width: 100%;
	margin-bottom: 4rem;
}
.reviews__title {
	margin: 4rem 0;
}
.reviews__title .title {
	display: block;
	text-align: center;
	font-size: 3.5rem;
	font-weight: 700;
	color: var(--violet1);
}
.reviews-flex {
	display: flex;
	gap: 4rem;
}
.reviews-flex__cards {
	flex: 1;
	background-color: var(--lightgreen);
	border-radius: 20px;
	padding: 1.5rem;
}
.reviews-flex__cards__flex {
	display: flex;
	align-items: center;
}
.reviews-flex__cards__image-1,
.reviews-flex__cards__image-2 {
	width: 100px;
	height: 100px;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	border-radius: 50%;
}
.reviews-flex__cards__image-1 {
	background-image: url("../img/Man-1.jpg");
}
.reviews-flex__cards__image-2 {
	background-image: url("../img/Man-2.jpg");
}
.reviews-flex__cards__person {
	margin-left: 1rem;
}
.reviews-flex__cards__person__name {
	font-size: 2rem;
	font-weight: 700;
	margin-bottom: 1rem;
}
.reviews-flex__cards__person__ceo {
	font-size: 1.5rem;
	font-weight: 400;
}
.reviews-flex__cards__text {
	margin-top: 1rem;
	font-size: 1.5rem;
	text-align: justify;
	line-height: 2.4rem;
}
/* Reviews Styles*/

/* Footer Styles*/
.footer {
	width: 100%;
	height: auto;
	background-image: url("../Svg/Wave-Svg.svg");
	background-repeat: no-repeat;
	background-size: cover;
	padding-bottom: 2rem;
}
.form-grid {
	border-radius: 40px;
	padding: 2rem;
	background-color: var(--white);
}
.form-grid__text .title {
	width: 100%;
	font-size: 3.5rem;
	font-weight: 700;
	color: var(--violet1);
	margin-bottom: 2rem;
}
.form-grid__text .text {
	width: 100%;
	font-size: 1.5rem;
	font-weight: 400;
	line-height: 2.3rem;
	color: var(--blueDark);
	margin-bottom: 2rem;
}
.name,
.email,
.message {
	width: 100%;
	border-radius: 2rem;
	border: none;
	height: 2rem;
	background-color: var(--violet4);
	margin-bottom: 2rem;
	padding: 2rem;
	font-size: 1.5rem;
}
.form-message .message {
	min-height: 250px;
	resize: none;
}
.form-grid__right-column {
	display: grid;
	place-items: center;
}
/* Footer Styles*/

/* Media Queries */

/* Header Queries */
@media screen and (min-width: 768px) {
	.grid-container {
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		align-items: center;
	}
}
@media screen and (max-width: 768px) {
	.navigation__list {
		justify-content: center;
		align-content: center;
	}
	.left-column {
		text-align: center;
	}
	.left-column__cta {
		margin: 0 auto 1rem;
	}
	.right-column {
		text-align: center;
	}
}
/* Header Queries */

/* Services Queries */
@media screen and (max-width: 768px) {
	.grid-services {
		grid-template-columns: 1fr;
		gap: 6rem;
	}
}
/* Services Queries */

/* Reviews Queries */
@media screen and (max-width: 975px) {
	.reviews-flex {
		flex-direction: column;
	}
}
/* Reviews Queries */

/* Footer Queries */
@media screen and (min-width: 898px) {
	.form-grid {
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		column-gap: 4rem;
	}
}
@media screen and (max-width: 898px) {
	.form-grid__right-column {
		display: none;
	}
	.form-grid__btn {
		display: block;
		margin: 0 auto;
	}
}
/* Footer Queries */

/* Media Queries */
